* {
    padding: 0;
    margin: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
#bike{
    width: 12px;
}

*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: 
    "wdth" 100;
}

a{
    text-decoration: none;
}

a:hover{
    color: #4A6FA5;
    text-decoration: underline;
}

#logo{
    background-color: transparent;
    width: 80px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    font-size: 18px;
}

.home-main{
    display: flex;
    padding-top: 75px;
    padding-bottom: 90px;
}

.text{
    padding-left: 300px;
    padding-top: 50px;
}

#para{
    font-size: 1.25rem;
    padding-top: 20px;
}

#hey{
    font-size: 3rem;
}

.me{
    width: 450px;
    border-radius: 1rem;
    margin-left: 30px;
    box-shadow: 1px 1px 5px;
}

.rate {
    width: 430px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    font-size: 1.25rem;
}

.rate-btn{
    width: 433px;
    height: 35px;
    border-radius: 5px;
    background-color: #4A6FA5;
    margin-top: 20px;
    color: #fff;
}

.rate-btn:hover{
    background-color: #DBE9EE;
    color: black;
}

.interests{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-top: 20px; */
    padding-bottom: 50px;
}

.ints{
    width: 250px;
    height: 290px;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 9px grey;
    padding: 30px;
}

.ints .topic{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.emoji{
    font-size: 3rem;
    margin-bottom: 20px;
}

.int-heading{
    font-size: 2rem;
    padding-top: 20px;
    margin-left: 70px
}

.line{
    font-size: 2.5rem;
    color: #4A6FA5;
    margin-left: 70px 
}

.int-down{
    margin-top:120px;
}

.display-div{
    display: flex;
    justify-content: space-between;
}

.book-notes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.book-notes-heading{
    font-size: 2rem;
    padding-top: 50px;
    margin-left: 70px
}

.img{
    width: 200px;
    border-radius: 1rem;
}

.img img{
    width: 200px;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 9px grey
}

.book-name{
    color: #3897d3;
    font-weight: 600;
}

.book-name:hover{
    color: black;
}

.book-details{
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
    width: 300px;
}

hr{
    padding: 3px 0px;
    margin: 12px 0px;
    margin-left: 70px;
    width: 172px;
    border-radius: 1rem;
    background-color: #3897d3;
}

.book-notes-line{
    padding: 3px 0px;
    margin: 12px 0px;
    margin-left: 70px;
    width: 300px;
    border-radius: 1rem;
    background-color: #3897d3;
}


.about-sec{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.img-2{
    width: 450px;
    border-radius: 1rem;
}

.img-2 img{
    width: 500px;
    height: 600px;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px;
}

.socials{
    text-align: center;
}

.socials i{
    margin: 10px;
    margin-top: 20px;
    font-size: 1.25rem;
}

.about{
    width: 550px;
    height: 625px;
}

.about-head{
    font-weight: 650;
    font-size: 31.5px;
}
